<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.movie.mappers.DailyMapper">
    <insert id="insertDailyMovie" parameterType="com.movie.movie.domains.DailyMovie">
        insert into movietogether.dailymovie(movieCn,movierank,accaudience,dailyaudience,today)
        values (#{movieCn},#{movierank},#{accaudience},#{dailyaudience},#{today})
    </insert>
    <select id="selectTodayMovieRank" resultType="com.movie.movie.domains.DailyMovie">
        select *
        from movietogether.dailymovie
        where today=#{today}
    </select>
</mapper>
